<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091889052438-f219aomnfvo29g1cuol4qs167c2bqmbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091889052438-f219aomnfvo29g1cuol4qs167c2bqmbi</string>
	<key>API_KEY</key>
	<string>AIzaSyB5CaGeM2Fi6q7t5c37SjKHGXZk18q6mHU</string>
	<key>GCM_SENDER_ID</key>
	<string>1091889052438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.embitel.multilingualapp</string>
	<key>PROJECT_ID</key>
	<string>multilingual-7b23e</string>
	<key>STORAGE_BUCKET</key>
	<string>multilingual-7b23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091889052438:ios:fbe735bf735322c8e26e37</string>
	<key>DATABASE_URL</key>
	<string>https://multilingual-7b23e.firebaseio.com</string>
</dict>
</plist>